
{% if user.is_authenticated %}

Logged in as {{ user.username }}

<a href="{% url 'createquestion' %}">Create</a>
<a href="{% url 'currentquestions' %}">Current</a>
<a href="{% url 'listedquestions' %}">List</a>

<form action="{% url 'logoutuser' %}" method="POST">
  {% csrf_token %}
<button type="submit" name="button">Logout</button>w
</form>

{% else %}

<a href="{% url 'signupuser' %}">Sign Up</a>
<a href="{% url 'loginuser' %}">Login</a>

{% endif %}
<br>


{% block content %} {% endblock %}
