{% extends 'questions/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if questions %}
                 <h1>{{ questions.count }} Current Question{{ questions.count|pluralize }}</h1>
            {% else %}
                           <h1>Current Questions</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if questions %}
            <div class="list-group">
                {% for question in questions %}
                    <a href="{% url 'viewquestion' question.id %}" class="list-group-item list-group-item-action{% if question.important %} list-group-item-danger{% endif %}"><b>{{ question.question }}</b>{% if question.answer %} - {{ question.answer|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>No unanswered questions! Good job!</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createquestion' %}">New Question</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
